.d{
    background-image: url(https://media.cntraveler.com/photos/607ef41f211142d4f98867a3/3:2/w_2560%2Cc_limit/Will%2520Cheaper%2520Pandemic%2520Airfares%2520Last%2520through%2520the%2520Summer_GettyImages-1140598797.jpg);
    background-size: cover;
    color: black;
}
.ali{
    align-items:center;
    padding-bottom: 200px;

}
.n{
    text-align: left;
}